<head>
        <title>Add New Subject</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
        
	<style>
#table1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table1 td, #table1 th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table1 tr:nth-child(even){background-color: #f2f2f2;}

#table1 tr:hover {background-color: #ddd;}

#table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}
.btn {
  background-color: Black;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlack;
}
div.b {
  position: absolute;
  right: 300;
  width: 300px;
  height: 200px;
  border: 0px solid black;
}
.alert {
  padding: 20px;
  background-color: #000000;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;}

</style
	</head>
{% extends "StudentLogin/layout1.html" %}
{% block body %}
<div class="main_content">
        <div class="header">Welcome!!   {{session.email}}.</div>  
        <div class="info">
		{% include "message.html" %}
		     <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-address-card"></i>Show Your Assignment</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="/stsignup">Home</a></li>
              <li><i class="fa fa-address-card"></i><a href="/statusforstudent">Show Status of Your Assignment
</a></li>
			  <li><i class="fa fa-address-card"></i>Assignment Details</li>
              
            </ol>
          </div>
        </div>
			<div class="container">
					<form class="form-validate form-horizontal" action="/uploadans" enctype="multipart/form-data" method="POST" id="feedback_form"  role="form">
			{% for data in viewans %}
  <h2>{{ data.stitle }}</h2>
  <h4>{{ data.pname }}. &nbsp;&nbsp; Assignment Posting Date:-{{ data.sdate }}</h4>
  <h4 align="right"> Due date:-	{{ data.ddate}} </h4>
  <h4>  Assignment Mark:- {{ data.realmark }} </h4>
   <hr style="height:2px;border-width:0;color:gray;background-color:gray">
   
 <div class="b"><div class="form-group">
        </br>
                    &nbsp;&nbsp;&nbsp;&nbsp;<label><h3>Your Answer</h3></label>
                    <div class="col-lg-10">
					 <a class="btn" href="{{ url_for('downans',file=data.file )}}" download>
     <span>{{ data.file.rsplit('.',1)[0] }} | </span>&nbsp;<i class="fa fa-download"></i>
 </a>
                    </div>
					  
                 
                   
					
                  </div>
				  </div>
				  <br>
<div ><h4> MARKS:- 
{% if data.asmark=='null' %}
	<h4> Not Upload Yet</h4>
  {% else %}
     <h4>{{ data.asmark }}</h4>
	 {% endif %}
</h4></div>
<br>
<div><h4> REMARKS:- 
{% if data.remark=='null' %}
	 <h4>Not Yet</h4>
  {% else %}
     <h4>{{ data.remark }}</h4>
{% endif %}
</h4></div>

		  
                     <div class="col-sm-10">
                      <input type="hidden" class="form-control" name="sname" value="{{ data.sname }}"  required>
                    </div>
                    <div class="col-sm-10">
                      <input  type="hidden" class="form-control" name="stitle" value="{{ data.stitle }}" required>
                    </div>
					<div class="col-sm-10">
                      <input  type="hidden" class="form-control" name="id" value="{{ data.id }}"  required>
                    </div>
					<div class="col-sm-10">
                      <input type="hidden" class="form-control" name="pname" value="{{ data.name }}"  required>
                    </div>
			
 {% endfor %}
  </form>
</div>
		</div>
      </div>
    </div>
</div>
<script src="{{ url_for('static',filename='subject/jquery.js')}}"></script>
  <script src="{{ url_for('static',filename='subject/bootstrap-select.min.js')}}"></script>
  <script src="{{ url_for('static',filename='subject/bootstrap.min.js')}}"></script>

</body>
</html>	
				{% endblock %}